

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="" style="padding: 10px;">
    <img src="assets/images/github.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;&nbsp;
    MAHAK GARG
  </a>
  <a class="navbar-brand" href="tel:+91-8607483001">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>

    +91-8607483001
    &nbsp;&nbsp;
    <a href="mailto:mahak191713@gmail.com">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
    mahak191713
  </a>
  </a>
  </nav>
