<br>
<div class="about">
  <h2>About ME</h2>
</div>
<div class="col">
  <div class="image">
    <img src="assets/images/mahak.jpg" width="300px" height="300px" id="img" />
    <form action="https://drive.google.com/file/d/1EGPHI7JA8hkdRur8e9k_dCmqqgZDwrFX/view?usp=drive_link">
      <br>
      <button type="submit" name="submit" value="Submit"><b><mat-icon>download</mat-icon>Download Resume</b></button>
    </form>
  </div>
  <div class="content">
    <p>Hey!! I'm <b>MAHAK GARG - Software Developer</b>.
      I'm self-motivated and hardworking Software developer fresher seeking for an opportunity to work
      in a challenging environment to prove my skills and utilize my knowledge & intelligence in the growth
      of the organization. Highly passionate about building web applications and confident enough to learn
      new things with a curious mind, an absolute passion for coding and the ability to write clean and
      efficient code. Like to work in group.
    </p>
    <ul>
      <b> Name: </b> <span style="color:#333">MAHAK GARG</span>
    </ul>

    <ul>
      <b> Nationality: </b><span style="color:#333">INDIAN</span>
    </ul>
    <ul>
      <b> Address: </b><span style="color:#333">HUDA 463-A SECTOR-1 PHASE-1 NARANUAL HARYANA</span>
    </ul>
   

  </div>
</div>
<div class="interest">
  <br>
  <div class="about">
    <h2 style="color:azure">MY INTEREST</h2>
    <hr style="color:azure;margin: 20px;">
  </div>
  <div class="item">
    <div class="col2">
      <img src="assets/images/laptop.png" width="50px" height="50px">
      <h3>Coding</h3>
    </div>
    <div class="col2">
      <img src="assets/images/draw.png" width="50px" height="50px">
      <h3>Painting</h3>
    </div>
    <div class="col2">
      <img src="assets/images/music.png" width="50px" height="50px">
      <h3>Music</h3>
    </div>
    <div class="col2">
      <img src="assets/images/yoga.png" width="50px" height="50px">
      <h3>Yoga</h3>
    </div>
  </div>
</div>
<div class="skills">
  <div class="about">
    <br>
    <h2> Technical SKILLS</h2>
    <hr style="margin: 20px;">
  </div>
  <div class="item">
    <div class="col2">
      <img src="assets/images/html-css-js.png" width="130px" height="130px">
      <img src="assets/images/react.png" width="130px" height="130px">
      <img src="assets/images/angular.png" width="130px" height="130px">
      <br >
      <br >
      <img src="assets/images/node.png" width="130px" height="130px">
      <img src="assets/images/express.png" width="130px" height="130px">
      <img src="assets/images/mongodb.png" width="130px" height="130px">
      

    </div>
    <div class="col2">

      <img src="assets/images/mysql.png" width="130px" height="130px">
      <img src="assets/images/c.png" width="130px" height="130px">
      <img src="assets/images/c++.png" width="130px" height="130px">
      <br >
      <br >
      <img src="assets/images/python.png" width="130px" height="130px">
      <img src="assets/images/wordpress.png" width="90px" height="90px">
    </div>

  </div>
  
  <div class="projects">
    <div class="about">
      <br>
      <h2>MY PROJECTS</h2>
      <hr style="margin: 20px;">
    </div>
    <div class="item">

      <div class="col2">
        <img src="assets/images/faculty.png" width="130px" height="130px">
        <h3>Leave-Management</h3>
        <br>

        <ngb-rating [(rate)]="currentRate1"></ngb-rating>
        <br>
        <br>
        <p> The main objective of the faculty Leave Management System is to manage
          the details of Leave for Employee in the department.
          <a href="https://github.com/MAHAK0804/Leave_Management.git"><mat-icon>link</mat-icon></a>
        </p>

      </div>
     
      <div class="col2">
        <img src="assets/images/clock.png" width="150px" height="150px">
        <h3>Clock</h3>
        <br>
        <ngb-rating [(rate)]="currentRate2"></ngb-rating>
        <br>
        <br>
        <p> The game isn't over till the clock says zero. Our mind is like a clock that is always running down, and
          requires to be constantly wound up.
          <a href="https://clock-project-virid.vercel.app/"><mat-icon>link</mat-icon></a>
        </p>
      </div>
      <div class="col2">
        <img src="assets/images/todolist.png" width="150px" height="150px">
        <h3>TO-DO-LIST</h3>
        <br>
        <ngb-rating [(rate)]="currentRate3"></ngb-rating>
        <br>
        <br>
        <p>You can always change your plan, but only if you have one. I’m a big believer in to-do lists. It helps us
          break life into small steps.
          <a href="https://to-do-list-app-liard-ten.vercel.app/"><mat-icon>link</mat-icon></a>
        </p>
      </div>
    </div>
    
    <div class="item">

      <div class="col2">
        <img src="assets/images/portfolio.png" width="150px" height="150px">
        <h3>Portfolio</h3>
        <br>
        <ngb-rating [(rate)]="currentRate3"></ngb-rating>
        <br>
        <br>
        <p>Compilation of academic and professional materials that exemplifies my
          beliefs, skills, qualifications, education, training, and experiences
          and provides insight into my personality and work ethic.
          <a href="https://mahak-portfolio-omega.vercel.app/"><mat-icon>link</mat-icon></a>
        </p>
      </div>
     
      <div class="col2">
        <img src="assets/images/vidhyaghar.png" width="150px" height="150px">
        <br>
        <ngb-rating [(rate)]="currentRate3"></ngb-rating>
        <br>
        <br>
        <p> The main objective of the Vidhyaghar is to manage school
          management i.e events,student performance,employee management.
          <a href="https://vidhyaghar-project.vercel.app/"><mat-icon>link</mat-icon></a>
        </p>

      </div>

    </div>
  </div>

  <div class="hire">
    <div class="img">
      <img src="assets/images/hire.png" width="70px" height="70px">
    </div>
    <div class="heading">
      <h4>FIX ME UP FOR YOUR AMAZING PROJECT</h4>
      <span>Depending on the scope and cost of your project, I am available for freelance work. Hire me to finish your job!</span>
    </div>
    <div class="btn">
      <a href="mailto:mahak191713@gmail.com"><mat-icon>upload</mat-icon>Hire Me</a>
    </div>
  </div>
<div class="footer"  ng-app="contactApp">
  <h1 style="text-align: center;">Contact </h1>
  <hr>
   <div class="contact" >
    <div class="col-left">
     <h2>Get in Touch </h2>
     <h5>To fix me for your project</h5> 
     <br>
      <a href="https://wa.me/918607483001"><img src="assets/images/whatsapp.png" width="40px" height="40px"> Whatsapp</a>
      <br><br><a href="https://instagram.com/mahakgarg_3001?igshid=ZDdkNTZiNTM="><img src="assets/images/instagram.jpg" width="40px" height="40px"> Instagram</a>
      <br><br> <a href="https://www.linkedin.com/in/mahak-garg-09197523b"><img src="assets/images/linkedin.png" width="40px" height="40px"> Linkedin</a>
      <br><br> <a href="https://twitter.com/MahakGa?t=i0MB7FSsgU__lI67VvWj4A&s=09"><img src="assets/images/twitter.jpg" width="40px" height="40px"> Twitter  </a>
      </div>
    <br>
    <div class="col-right" ng-controller="ContactController">
      <form method="post" ng-submit="submitForm()" action="http://localhost:4200/">
        <ul>
          <li>
            Name
          </li>
          <li>
            <input type="text" placeholder="Your name"  ng-model="formData.name"required>
            </li> <li>
              Email
            </li>
            <li>
              <input type="email" placeholder="Email" ng-model="formData.email" required>
              </li> <li>
                Message
              </li>
              <li>
                <input type="text" placeholder="Message" ng-model="formData.message" required>
                </li>
                <br><br>
                <li>
                  <button type="submit"><mat-icon>send</mat-icon>Send Message</button>
                </li>
        </ul>
      </form>
    
    </div>
  </div>
</div>
 
